

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Great+Vibes&family=Hanken+Grotesk&family=Prata&family=Sora:wght@300&display=swap');   /* Fais gaff a sora 500 */

  @import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Great+Vibes&family=Hanken+Grotesk&family=Parisienne&family=Prata&family=Sora:wght@300&display=swap');

.prof img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.prof {
  max-width: 9.5rem;
}

.menu {
  font-size: 2.1em;
}
.feed {
  font-size: 2.1em;
}
.feed-font {
  font-size: 0.8em;
}
.hadith {
  font-size: 2.2em;
 
}
.bg-color {
  background-color: aliceblue;
}

.glow{
  @keyframes spark {
    50% {background-color:  10px 20px 30px black;}
}
}

.salam{
  
font-family: 'Great Vibes', cursive;
  font-size: 2em;
  font-weight: 400;

}

.masjid-name{
  

  font-family: 'Hanken Grotesk', sans-serif;
  font-size:5.5em;
}

.announcement{
  font-family: 'Sora', sans-serif;
  font-weight: 100;
}


.imam-nav-name{
  font-family: 'Prata', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  
}

.islamicClass{
  font-family: 'Parisienne', cursive;
  font-weight: 700;
}

.c0149 {
 
 width: 100%;
 
  padding: 0;
  overflow-y: hidden !important;
  overflow-x: auto;
  top: 0px;
  position: relative;
}

.youth-card{
  font-family: 'marhey', sans-serif;
  
}

a{
  color: black;
}

li a:visited {
  color:purple;
 
}

li a:hover, a:active {
  color: red;
  text-decoration: none;
}

body{
  width: 100%;
  height: 100%; 
  
}

.prayer-time{
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.prayer-name{
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.prayer-hour{
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}

.feed-announcement{
  font-size: 2.4em;
}


.feed-title{
  font-size: 1.3em;
  }

  .deleteb{
    font-size: 2em;
  }

  .community-btn{
    font-size: 3em;
  }